#box1{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: sticky;
    top: 10px;
    left:0;
}
div{
    text-align: center;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(218, 48, 48);
    position: absolute;
    top: 55px;
    left:55px;
}
#box3{
    border:3px solid yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 42px;
    left:44px;
}